extends layout

block head
  title Lifegraph Connect Admin page
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/2.1.1/readable/bootstrap.min.css')

block content
  .container-fluid
    h2 Facebook Apps you can add to Lifegraph Connect
    ul#fbapps
      each app in apps
        li 
          a(href="/#{app.namespace}/admin") #{app.name}
    div See these apps on your 
      a(href="https://developers.facebook.com/apps") Facebook Developers Apps page
    hr
    div
      a(href="/") Home
    div 
      a(href="/logout") Logout from Lifegraph Connect