body { 
  margin: 0 0 30px;
  padding: 0;
  background: #37a;
}

.container-fluid {
  padding: 0 30px;
}

.header {
  border-radius: 0;
  color: #fff;
  background: none;
  overflow: auto; 
  margin: 30px 30px 15px;
  padding: 10px 0;
  border-bottom: 1px solid #268;
}

.right {
  float:right;
}

.left {
  float:left;
}

#token-status {
  margin-bottom: 30px;
  color: #fff;
  font-size: 12px;
}

#token-status span {
  margin-left: 10px;
}

#token-status .label-success {
  cursor: pointer;
}

.unclaimed-token {
  margin-top: -15px;
}

.header p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

.header b {
  font-size: 24px; 
  margin-right: 20px;
  letter-spacing: 0;
}

.header a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}

#apps .app .cover {
  position: absolute;
  left: 0;
  top: 0;
}

#apps .app {
  position: relative;
  min-height: 200px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 2px;
  padding: 0 0 50px 200px;
  -webkit-transition: border-color 0.1s linear;
  margin-bottom: 20px;
}

#apps .app:hover {
  border-color: #8c0;
}

#apps .app p {
  font-size: 12px;
}

#apps .app h3 {
  color: black;
  font-size: 20px;
  line-height: 25px;
  z-index: 10;
  text-shadow: #ccc 1px 1px 0;
}

#apps .app img {
  z-index: 5;
  width: 200px;
  height: 200px;
  min-height: 200px;
}

#apps .controls {
  text-align: right;
  background: #ddd;
  padding: 5px 5px;
  border-bottom: #aaa 1px solid;
}
#apps .controls .dropdown {
  margin: 0 5px; 
  display: inline; 
  text-align: left;
}

#apps .description {
  padding: 0px 10px 5px;
}

@media (max-width: 500px) {
  #apps .app {
    padding-left: 0 !important;
  }

  #apps .app .cover {
    display: block;
    position: static;
    padding-top: 20px;
  }

  #apps .app img {
    width: 100%;
    height: auto;
  }
}

#token-status.label-warning {
  cursor: pointer;
}